{%- assign desktop_nav = linklists[settings.header_nav_desktop] -%}
{%- assign mobile_nav = linklists[settings.header_nav_mobile] -%}
{%- assign desktop_nav_new = linklists[settings.header_nav_desktop_new] -%}
{%- assign desktop_nav_secondary_new = linklists[settings.header_nav_desktop_new_secondary] -%}
{%- assign mobile_nav_new = linklists[settings.header_nav_mobile_new] -%}
{%- assign mobile_nav_new_secondary = linklists[settings.header_nav_mobile_new_secondary] -%}
{%- assign header_navigation_style = settings.navigation_style -%}

<div
  class="header__wrapper"
  {% if template.suffix == 'wtf-custom-quiz-with-progressbar-and-noheader' %}
    style="display: none;"
  {% endif %}
>
  {%- assign currency_code = localization.country.currency.iso_code -%}
  {%- case currency_code -%}
    {%- when 'USD' -%}
      {%- if settings.enable_header_promo_usa -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'CAD' -%}
      {%- if settings.enable_header_promo_cad -%}
        {% render 'header-promo', currency_code: currency_code %}
      {%- endif -%}
    {%- when 'GBP' -%}
      {%- if settings.enable_header_promo_uk -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'EUR' -%}
      {%- if settings.enable_header_promo_eur -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'BGN' -%}
      {%- if settings.enable_header_promo_bul -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'CZK' -%}
      {%- if settings.enable_header_promo_cr -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'DKK' -%}
      {%- if settings.enable_header_promo_den -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'HUF' -%}
      {%- if settings.enable_header_promo_hun -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'PLN' -%}
      {%- if settings.enable_header_promo_pol -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'RON' -%}
      {%- if settings.enable_header_promo_rom -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'SEK' -%}
      {%- if settings.enable_header_promo_swe -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'AUD' -%}
      {%- if settings.enable_header_promo_aud -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
    {%- when 'NZD' -%}
      {%- if settings.enable_header_promo_nzd -%}
        {%- render 'header-promo', currency_code: currency_code -%}
      {%- endif -%}
  {%- endcase -%}

  <div id="GlobaleFreeShippingBannerContainer"></div>
  <header class="header js-header js-scroll" role="banner" data-callback="header">
    <div class="header__content">
      <button class="header__toggle js-navToggle" aria-label="Toggle Navigation" aria-expanded="false">
        <span class="header__toggle__icon"></span>
      </button>
      <a href="/" class="header__logo">
        <span class="visually-hidden">Jones Road</span>
        {% include 'jones-road-logo' %}
      </a>
      <a href="{{ routes.cart_url }}" data-no-history="true" class="header__nav__cart header__nav__cart--mobile js-cartToggle">
        <span class="visually-hidden">Bag</span>
        <span class="header__nav__cart__icon__mobile">
          {{ 'cart_bag_icon.svg' | inline_asset_content }}
        </span>
        <span class="js-headerCart" data-items="{{ cart.item_count }}">{{ cart.item_count }}</span>
        <span class="visually-hidden">items</span>
      </a>
    </div>
    <nav class="header__nav js-nav">
      <div class="header__nav__logo-placeholder"></div>

      <div class="header__nav__primary-wrapper">
        <ul class="header__nav__primary header-desktop header__nav__primary--old">
          {% comment %} JRB05 - START {% endcomment %}
          {%- render 'jrb05-search' -%}
          {% comment %} JRB05 - END {% endcomment %}

          {% comment %} JRB02 - V1 - START  {% endcomment %}
          {%- render 'jrb02-v1' -%}
          {% comment %} JRB02 - V1 - END {% endcomment %}

          {%- for link in desktop_nav.links -%}
            {% if link.links.size > 0 %}
              {% include 'header-sub-menu', links: link.links %}
            {% else %}
              <li class="header__nav__desktop header__nav__desktop--old">
                <a
                  href="{{ link.url }}"
                  {% if link.url contains 'http' %}
                    target="_blank" rel="noreferrer noopener"
                  {% endif %}
                >
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {%- endfor -%}
          {%- for link in mobile_nav.links -%}
            {%- assign sublink_badge = link.object.metafields.navigation.badge -%}
            {%- assign navigation_titles = settings.navigation_titles | split: ',' -%}
            {%- assign navigation_color = settings.navigation_color -%}
            {%- assign is_navigation_title = false -%}
            {%- for navigation_title in navigation_titles -%}
              {%- assign trimmed_navigation_title = navigation_title | strip -%}
              {%- if link.title == trimmed_navigation_title -%}
                {%- assign is_navigation_title = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
            <li class="header__nav__mobile">
              <a
                href="{{ link.url }}"
                {% if link.url contains 'http' %}
                  target="_blank" rel="noreferrer noopener"
                {% endif %}
                {% if is_navigation_title %}
                  style="color: {{ navigation_color }}"
                {% endif %}
              >
                {{ link.title }}
                {%- if sublink_badge != blank -%}
                  <strong class="header__nav__badge">{{ sublink_badge }}</strong>
                {%- endif -%}
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <ul class="header__nav__primary header-desktop header__nav__primary--new">
          {% comment %} JRB05 - START {% endcomment %}
          {%- render 'jrb05-search-new' -%}
          {% comment %} JRB05 - END {% endcomment %}

          {% comment %} JRB02 - V1 - START  {% endcomment %}
          {% comment %} {%- render 'jrb02-v1' -%} {% endcomment %}
          {% comment %} JRB02 - V1 - END {% endcomment %}

          <div class="header-megamenu-menu-column header-megamenu-menu-column--mobile header-megamenu-menu-column--image">
            {% for i in (1..2) %}
              {% assign megamenu_image = 'megamenu_image_' | append: i %}
              {% assign megamenu_title = 'megamenu_title_' | append: i %}
              {% assign megamenu_description = 'megamenu_description_' | append: i %}
              {% assign megamenu_url = 'megamenu_url_' | append: i %}
              {% if settings[megamenu_image] != blank %}
                <div class="header-megamenu-menu-image-block">
                  {% if settings[megamenu_image] != blank %}
                    <div class="header-megamenu-menu-image-block-image">
                      <a href="{{ settings[megamenu_url] }}">
                        <img
                          src="{{ settings[megamenu_image] | image_url: width: auto }}"
                          alt="{{ settings[megamenu_title] }}"
                          width=""
                          height=""
                          loading="lazy"
                        >
                      </a>
                    </div>
                  {% endif %}
                  <div class="header-megamenu-menu-image-block-text">
                    {% if settings[megamenu_title] != blank %}
                      <a class="header-megamenu-menu-image-block-text-title" href="{{ settings[megamenu_url] }}">
                        <span>{{ settings[megamenu_title] }}</span>
                      </a>
                    {% endif %}
                    {% if settings[megamenu_description] != blank %}
                      <div class="header-megamenu-menu-image-block-text-description">
                        {{ settings[megamenu_description] }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          {%- for link in desktop_nav_new.links -%}
            {% if link.links.size > 0 %}
              {% include 'header-sub-menu-new', links: link.links %}
            {% else %}
              <li class="header__nav__desktop header__nav__desktop--old">
                <a
                  href="{{ link.url }}"
                  {% if link.url contains 'http' %}
                    target="_blank" rel="noreferrer noopener"
                  {% endif %}
                >
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {%- endfor -%}
          {% comment %}
            {%- for link in mobile_nav_new.links -%}
              {%- assign sublink_badge = link.object.metafields.navigation.badge -%}
              <li class="header__nav__mobile__new">
                <a href="{{ link.url }}"{% if link.url contains 'http' %} target="_blank" rel="noreferrer noopener"{% endif %}>
                  {{ link.title }}
                  {%- if sublink_badge != blank -%}
                    <strong class="header__nav__badge">{{ sublink_badge }}</strong>
                  {%- endif -%}
                </a>
              </li>
            {%- endfor -%}
          {% endcomment %}
          <div class="header_nav_mobile_new">
            <div class="header_nav_mobile_new_main">
              <div class="header_nav_mobile_new_heading">SHOP BY CATEGORY</div>
              <ul>
                {%- for link in mobile_nav_new.links -%}
                  {% if link.links.size > 0 %}
                    {% for subLink in link.links %}
                      <li class="header__nav__mobile_list header__nav__mobile_list--no-megamenu">
                        <a
                          class="{% if subLink.url contains 'shop-all' %}shop-all-list{% endif %}"
                          href="{{ subLink.url }}"
                          {% if subLink.url contains 'http' %}
                            target="_blank" rel="noreferrer noopener"
                          {% endif %}
                        >
                          {{ subLink.title }}
                        </a>
                      </li>
                    {% endfor %}
                  {% else %}
                    {% assign collection_handle = link.title | handleize %}
                    {% assign item_collection = collections[collection_handle] %}
                    <li class="header__nav__mobile_list">
                      <a
                        href="javascript:void(0);"
                        class="js-headerSubNavMobile"
                        {% if link.url contains 'http' %}
                          target="_blank" rel="noreferrer noopener"
                        {% endif %}
                      >
                        {% if item_collection.metafields.custom.navigation_image != blank %}
                          <span class="header__nav__mobile_list_image">
                            <img
                              src="{{ item_collection.metafields.custom.navigation_image | image_url: width: auto }}"
                              alt="{{ link.title }}"
                              width=""
                              height=""
                              loading="lazy"
                            >
                          </span>
                        {% endif %}
                        {{ link.title }}
                        <span class="header__nav__mobile_list_icon">
                          {{ 'icon_chevron.svg' | inline_asset_content }}
                        </span>
                      </a>
                      {% include 'header-megamenu-new-mobile', links: link.links, link: link %}
                    </li>
                  {% endif %}
                {%- endfor -%}
              </ul>
            </div>
            <div class="header_nav_mobile_new_secondary">
              <div class="header_nav_mobile_new_heading">Learn More</div>
              <ul>
                {%- for link in mobile_nav_new_secondary.links -%}
                  <li class="header__nav__mobile_list__secondary">
                    <a
                      href="{{ link.url }}"
                      {% if link.url contains 'http' %}
                        target="_blank" rel="noreferrer noopener"
                      {% endif %}
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </ul>
      </div>

      <ul class="header__nav__secondary">
        <li>
          <button class="header__nav__search js-headerSearch js-searchOpen">
            <span class="visually-hidden">Search</span>
            <svg width="24" height="24" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
              <path d="m619.68 500.32-108.5-108.5c37.102-49.582 54.047-111.38 47.418-172.95-6.625-61.574-36.332-118.35-83.137-158.9-46.809-40.551-107.24-61.867-169.12-59.652-61.891 2.2109-120.64 27.789-164.43 71.578-43.789 43.789-69.367 102.54-71.578 164.43-2.2148 61.887 19.102 122.32 59.652 169.12 40.551 46.805 97.324 76.512 158.9 83.137 61.574 6.6289 123.37-10.316 172.95-47.418l108.5 108.5c8.8164 8.8164 21.664 12.258 33.707 9.0312 12.043-3.2266 21.449-12.633 24.676-24.676 3.2266-12.043-0.21484-24.891-9.0312-33.707zm-304.68-80.324c-46.414 0-90.926-18.438-123.74-51.258-32.82-32.816-51.258-77.328-51.258-123.74s18.438-90.926 51.258-123.74c32.816-32.82 77.328-51.258 123.74-51.258s90.926 18.438 123.74 51.258c32.82 32.816 51.258 77.328 51.258 123.74-0.078125 46.391-18.539 90.855-51.34 123.66-32.805 32.801-77.27 51.262-123.66 51.34z"/>
            </svg>
            <span class="header__nav__search-icon">
              {{ 'search_icon.svg' | inline_asset_content }}
            </span>
          </button>
        </li>
        {% include 'header-currency-selector' %}
        {%- if shop.customer_accounts_enabled -%}
          <li>
            {%- assign account_url = routes.account_login_url -%}
            {%- if customer -%}
              {%- assign account_url = routes.account_url -%}
            {%- endif -%}
            <a class="header__nav__account" href="{{ account_url }}">
              <span class="visually-hidden">Account</span>
              <svg width="24" height="24" version="1.1" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                <path d="m227.5 122.5c0-32.488 12.906-63.648 35.879-86.621s54.133-35.879 86.621-35.879 63.648 12.906 86.621 35.879 35.879 54.133 35.879 86.621-12.906 63.648-35.879 86.621-54.133 35.879-86.621 35.879c-32.477-0.039062-63.613-12.957-86.578-35.922s-35.883-54.102-35.922-86.578zm349.14 345.65c-9.2656-53.176-37.16-101.32-78.691-135.79s-93.98-53.039-147.95-52.359c-53.973-0.67969-106.42 17.883-147.95 52.359s-69.426 82.617-78.691 135.79c-3.3086 22.617 3.4062 45.555 18.387 62.82 16.137 18.559 39.562 29.16 64.156 29.027h288.2c24.594 0.13281 48.02-10.469 64.156-29.027 14.98-17.266 21.695-40.203 18.387-62.82z"/>
              </svg>
              <span class="header__nav__account__icon">
                {{ 'user_login_icon.svg' | inline_asset_content }}
              </span>
            </a>
          </li>
        {%- endif -%}
        <li class="header__nav__cart--desktop">
          <a href="{{ routes.cart_url }}" data-no-history="true" class="header__nav__cart js-cartToggle">
            <span class="header__nav__cart__icon">
              {{ 'cart_bag_icon.svg' | inline_asset_content }}
            </span>
            Bag
            <span class="js-headerCart" data-items="{{ cart.item_count }}">{{ cart.item_count }}</span
            ><span class="visually-hidden">items</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__nav__megamenu_container">
      <div class="header__nav__megamenu">
        <ul>
          {%- for link in desktop_nav_secondary_new.links -%}
            {% comment %}
              {% if link.links.size > 0 %}
                {% include 'header-sub-menu-new', links: link.links %}
              {% else %}
              {% endif %}
            {% endcomment %}
            <li class="header__nav__megamenu_list header__nav_megamenu_collection_item js-headerSubnav">
              <a
                href="{{ link.url }}"
                class="js-headerSubnavToggle nav-item--{{ link.title | handle }}"
                aria-controls="subnav-{{ link.title | handle }}"
                aria-expanded="false"
                aria-haspopup="true"
                {% if link.url contains 'http' %}
                  target="_blank" rel="noreferrer noopener"
                {% endif %}
              >
                <span>{{ link.title }}</span>
              </a>
              {% include 'header-megamenu-new', links: link.links, link: link %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    {% include 'search-drawer' %}
  </header>
</div>

<style>
  :root {
    --promo-height: {% if settings.header_promo_is_active %} 35px {% else %} 0px {% endif %};
    --primary-color: {{ settings.primary_color }};
  }
  {% if settings.star_image_cart_drawer_fill != blank %}
    .cart-drawer__pane .cart-drawer__crosssells .junip-product-summary .junip-star-filled,
    .quiz__embed .junip-product-summary .junip-star-filled{
      background-image: url("{{ settings.star_image_cart_drawer_fill | image_url }}");
    }
  {% endif %}
  {% if settings.star_image_cart_drawer_outline != blank %}
    .cart-drawer__pane .cart-drawer__crosssells .junip-product-summary .junip-star-outline,
    .quiz__embed .junip-product-summary .junip-star-outline{
      background-image: url("{{ settings.star_image_cart_drawer_outline | image_url }}");
    }
  {% endif %}
  .header-promo .header-promo-slide a:hover {
    color: #fff;
  }
  section#shopify-section-hero_7XJgC7 {
    display: none;
  }
  @media screen and (max-width:420px){
    body .product__card-stars .junip-product-summary-review-count {
      font-size: 10px !important;
    }
  }
</style>
