<li class="header__subnav js-headerSubnav header__nav__desktop">
  <a 
    href="{{ link.url }}"
    aria-controls="subnav-{{ link.title | handle }}"
    aria-expanded="false"
    aria-haspopup="true"
    class="js-headerSubnavToggle nav-item--{{ link.title | handle }}"
  >
    {{ link.title }}
    <span class="visually-hidden">Toggle submenu</span>
  </a>
  <div aria-hidden="true"
    aria-label="{{ link.title }} submenu"
    class="header__subnav__menu"
    id="subnav-{{ link.title | handle }}"
  >
    <ul>
      {% for subLink in links %}
        {%- assign sublink_badge = subLink.object.metafields.navigation.badge -%}
        {%- assign navigation_titles = settings.navigation_titles | split: ',' -%}
        {%- assign navigation_color = settings.navigation_color -%}
        {%- assign is_navigation_title = false -%}
        {%- for navigation_title in navigation_titles -%}
          {%- assign trimmed_navigation_title = navigation_title | strip -%}
          {%- if subLink.title == trimmed_navigation_title -%}
            {%- assign is_navigation_title = true -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        <li>
          <a href="{{ subLink.url }}"{% if subLink.url contains 'http' %} target="_blank" rel="noreferrer noopener"{% endif %} {% if is_navigation_title %} style="color: {{ navigation_color }}"{% endif %}>
            {{ subLink.title }}
            {%- if sublink_badge != blank -%}
              <strong class="header__nav__badge">{{ sublink_badge }}</strong>
            {%- endif -%}
          </a>
        </li>
      {% endfor %}
        <li class="show-on-tabbing">
          <button class="js-headerSubnavClose">Close submenu</button>
        </li>
    </ul>
  </div>
</li>
