<div class="about-hero js-scroll">
  <div class="about-hero__image">
    <picture>
      <source media="(min-width: 1601px)"
              srcset="{{ heroImage | img_url: '1920x1152', scale: 1, crop: 'center' }} 1x,
                      {{ heroImage | img_url: '1920x1152', scale: 2, crop: 'center' }} 2x" />
      <source media="(min-width: 1281px) and (max-width: 1600px)"
              srcset="{{ heroImage | img_url: '1600x960', scale: 1, crop: 'center' }} 1x,
                      {{ heroImage | img_url: '1600x960', scale: 2, crop: 'center' }} 2x" />
      <source media="(min-width: 1024px) and (max-width: 1280px)"
              srcset="{{ heroImage | img_url: '1280x768', scale: 1, crop: 'center' }} 1x,
                      {{ heroImage | img_url: '1280x768', scale: 2, crop: 'center' }} 2x" />
      <source media="(max-width: 1023px) and (min-width: 769px)"
              srcset="{{ heroImageMobile | img_url: '1023x1820', scale: 2, crop: 'center' }}" />
      <source media="(max-width: 768px) and (min-width: 415px)"
              srcset="{{ heroImageMobile | img_url: '768x1365', scale: 2, crop: 'center' }}" />
      <source media="(max-width: 414px) and (min-width: 376px)"
              srcset="{{ heroImageMobile | img_url: '414x736', scale: 2, crop: 'center' }}" />
      <source media="(max-width: 375px)"
              srcset="{{ heroImageMobile | img_url: '375x667', scale: 2, crop: 'center' }}" />
      <img src="{{ heroImageMobile | img_url: '375x667', scale: 2, crop: 'center' }}" alt="{{ heroImage.alt }}" data-alt-mobile="{{ heroImageMobile.alt }}" data-alt-desktop="{{ heroImage.alt }}"/>
    </picture>
  </div>
  {% if heroHeading != blank %}
  <div class="hero__content hero__content--looks{% if contentPosition != blank %} hero__content--{{ contentPosition }}{% endif %}">
      <h1 class="hero__heading hero__heading--looks hero__heading--{{ headingColor }}{% if headingHighlight %} hero__heading--highlight{% endif %}">
        <span>{{ heroHeading | newline_to_br }}</span>
      </h1>
  </div>
  {% endif %}
  <button class="about-hero__explore js-aboutExplore">
    Explore
  </button>
</div>
