
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 = section.settings['replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4'] | image_url -%}
    {%- capture default_replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 -%}https://cdn.shopify.com/s/files/1/0771/0860/9337/files/121.svg?v=1702427764{%- endcapture -%}
    {%- assign replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 = replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 | default: default_replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 -%}
    "replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4": {{ replo_style_image_6b6553c3-16cc-4594-9078-4d6cec1710f4 | json }}, {%- assign replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 = section.settings['replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1'] -%}
    {%- capture default_replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 -%}<p>Join 100,000+ Happy </p><p>Almond Cow Users!</p>{%- endcapture -%}
    {%- assign replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 = replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 | default: default_replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 -%}
    "replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1": {{ replo_text_70979ccc-83bf-47d3-916d-e1db135ee2d1 | json }}, {%- assign replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 = section.settings['replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7'] -%}
    {%- capture default_replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 -%}<p>The best kitchen appliance </p>{%- endcapture -%}
    {%- assign replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 = replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 | default: default_replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 -%}
    "replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7": {{ replo_text_d01069ae-f4a7-490a-888d-6ef0601cbbc7 | json }}, {%- assign replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 = section.settings['replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4'] -%}
    {%- capture default_replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 -%}<p>It’s to easy to use and so fast to clean! I have a two year-old and a four year-old and I can't tell you how much oat milk we were going through in a week. Enter the Almond Cow!! My kids have loved every milk I've made from it. Cannot recommend this product enough!</p>{%- endcapture -%}
    {%- assign replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 = replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 | default: default_replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 -%}
    "replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4": {{ replo_text_b3ba34f6-852a-4240-a661-b1f3209dd4b4 | json }}, {%- assign replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 = section.settings['replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399'] -%}
    {%- capture default_replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 -%}<p>Meaghan W.</p>{%- endcapture -%}
    {%- assign replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 = replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 | default: default_replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 -%}
    "replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399": {{ replo_text_e1db4164-d6b5-47bb-96bc-568c175b6399 | json }}, {%- assign replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc = section.settings['replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc'] -%}
    {%- capture default_replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc -%}<p>Verified Buyer</p>{%- endcapture -%}
    {%- assign replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc = replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc | default: default_replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc -%}
    "replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc": {{ replo_text_c84c282d-e8a7-4273-8fb3-a5be68039dfc | json }}, {%- assign replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 = section.settings['replo_text_34c457a6-5156-45b5-8343-f582c0ebd177'] -%}
    {%- capture default_replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 -%}<p>Making milk for: the family</p>{%- endcapture -%}
    {%- assign replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 = replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 | default: default_replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 -%}
    "replo_text_34c457a6-5156-45b5-8343-f582c0ebd177": {{ replo_text_34c457a6-5156-45b5-8343-f582c0ebd177 | json }}, {%- assign replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da = section.settings['replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da'] -%}
    {%- capture default_replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da -%}<p>Never buy plant-based milk again</p>{%- endcapture -%}
    {%- assign replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da = replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da | default: default_replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da -%}
    "replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da": {{ replo_text_e0d10902-e3c1-4c6f-b0b5-c95d3e6b30da | json }}, {%- assign replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 = section.settings['replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2'] -%}
    {%- capture default_replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 -%}<p>I bought the bundle a few years ago. I make milk between 2 - 4 times a week depending on my needs. It is still running flawlessly and still easy to clean. You can make so many varieties of milk and creamers that I never get bored. I would definitely buy this milker again. Absolutely love my Almond Cow!</p>{%- endcapture -%}
    {%- assign replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 = replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 | default: default_replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 -%}
    "replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2": {{ replo_text_a63ddf05-d4d9-4af2-b359-057460e338f2 | json }}, {%- assign replo_text_f261da16-a89b-4fed-909f-490fb73c719c = section.settings['replo_text_f261da16-a89b-4fed-909f-490fb73c719c'] -%}
    {%- capture default_replo_text_f261da16-a89b-4fed-909f-490fb73c719c -%}<p>TJ.</p>{%- endcapture -%}
    {%- assign replo_text_f261da16-a89b-4fed-909f-490fb73c719c = replo_text_f261da16-a89b-4fed-909f-490fb73c719c | default: default_replo_text_f261da16-a89b-4fed-909f-490fb73c719c -%}
    "replo_text_f261da16-a89b-4fed-909f-490fb73c719c": {{ replo_text_f261da16-a89b-4fed-909f-490fb73c719c | json }}, {%- assign replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 = section.settings['replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1'] -%}
    {%- capture default_replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 -%}<p>Verified Buyer</p>{%- endcapture -%}
    {%- assign replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 = replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 | default: default_replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 -%}
    "replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1": {{ replo_text_b5274d14-10a8-48ff-80f2-9cd99825d8c1 | json }}, {%- assign replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 = section.settings['replo_text_d2d004c3-3d00-4f46-aa60-701d69964164'] -%}
    {%- capture default_replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 -%}<p>Making milk for:  me and my partner</p>{%- endcapture -%}
    {%- assign replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 = replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 | default: default_replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 -%}
    "replo_text_d2d004c3-3d00-4f46-aa60-701d69964164": {{ replo_text_d2d004c3-3d00-4f46-aa60-701d69964164 | json }}, {%- assign replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 = section.settings['replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5'] -%}
    {%- capture default_replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 -%}<p>Richer, thicker, and more flavorful milk</p>{%- endcapture -%}
    {%- assign replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 = replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 | default: default_replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 -%}
    "replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5": {{ replo_text_9a551f94-30ce-4dfa-9e7c-dee2007e56e5 | json }}, {%- assign replo_text_83aae337-237d-4d28-aec8-9d56986698bb = section.settings['replo_text_83aae337-237d-4d28-aec8-9d56986698bb'] -%}
    {%- capture default_replo_text_83aae337-237d-4d28-aec8-9d56986698bb -%}<p>It’s to easy to use and so fast to clean! I have a two year-old and a four year-old and I can't tell you how much oat milk we were going through in a week. Enter the Almond Cow!! My kids have loved every milk I've made from it. Cannot recommend this product enough!</p>{%- endcapture -%}
    {%- assign replo_text_83aae337-237d-4d28-aec8-9d56986698bb = replo_text_83aae337-237d-4d28-aec8-9d56986698bb | default: default_replo_text_83aae337-237d-4d28-aec8-9d56986698bb -%}
    "replo_text_83aae337-237d-4d28-aec8-9d56986698bb": {{ replo_text_83aae337-237d-4d28-aec8-9d56986698bb | json }}, {%- assign replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 = section.settings['replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3'] -%}
    {%- capture default_replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 -%}<p>Meaghan W.</p>{%- endcapture -%}
    {%- assign replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 = replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 | default: default_replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 -%}
    "replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3": {{ replo_text_08475410-8b38-4c8a-97f4-928f26b69fd3 | json }}, {%- assign replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f = section.settings['replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f'] -%}
    {%- capture default_replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f -%}<p>Verified Buyer</p>{%- endcapture -%}
    {%- assign replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f = replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f | default: default_replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f -%}
    "replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f": {{ replo_text_db7af48f-4e74-403d-9cd1-a9895f3a4c5f | json }}, {%- assign replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 = section.settings['replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62'] -%}
    {%- capture default_replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 -%}<p>Making milk for:  me and my partner</p>{%- endcapture -%}
    {%- assign replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 = replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 | default: default_replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 -%}
    "replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62": {{ replo_text_3f8a9a37-be84-427a-abf3-b98bab43be62 | json }}
    }</script>
  