{%- assign config = section.settings -%}
{%- assign steps = section.blocks | map: 'settings' -%}

<div id="article-look" class="article__body js-articleLook" data-view="article" data-component="articleLook">
  <div class="article__body-inner">
    {%- include 'article-header' -%}
  </div>
  <div class="article__body-inner--look">
    {%- if config.image != blank or config.heading != blank or config.description != blank or config.bullets_heading != blank or config.bullets_subheading != blank or config.bullets != blank -%}
      {%- include 'article-look-intro' with 
        image: config.image,
        heading: config.heading,
        description: config.description,
        bullets_heading: config.bullets_heading,
        bullets_subheading: config.bullets_subheading,
        bullets: config.bullets
      -%}
    {%- endif -%}
    <div class="article__look-steps">
      {%- for step in steps -%}
        {%- assign step_id = forloop.index -%}

        <div class="article__look-step">
          <div class="article__look-image">
            <div>
              {%- include 'component_customizer-media' with 
                class: 'article__look-media'
                media: step.media, 
                src: '500x',
                srcset: '1000x',
                autoplay: false
              -%}
            </div>
          </div>
          <div class="article__look-step--content">
            {%- if step.heading != blank -%}
              <h2 class="article__look-heading">{{ step.heading }}</h2>
            {%- endif -%}
            {%- if step.description != blank -%}
              <div class="article__look-description text-underline">{{ step.description }}</div>
            {%- endif -%}
            {%- if step.product_1 != blank or step.product_2 != blank -%}
              <ul class="article__look-products">
                {%- for i in (1..2) -%}
                  {%- assign product_src = 'product_' | append: forloop.index -%}
                  {%- assign variant_src = 'variant_' | append: forloop.index -%}
                  {%- if step[product_src] != blank -%}
                    {%- assign product = all_products[step[product_src]] -%}
                    {%- if step[variant_src] != blank -%}
                      {%- assign current_variant = product.variants | where: 'sku', step[variant_src] | first -%}
                    {%- else -%}
                      {%- assign current_variant = product.selected_or_first_available_variant -%}
                    {%- endif -%}

                    {%- assign current_options = product.options_with_values | where: value -%}

                    <li class="article__look-product js-articleLookProduct">
                      <a href="{{ product.url | append: '?country=' | append: localization.country.iso_code }}" class="article__look-product--image js-articleLookProductImage">
                        <div>
                          {{ current_variant.image | image_url: width: 1000 | image_tag: width: 200, loading: 'lazy' }}
                        </div>
                      </a>
                      <form class="article__look-product--form js-articleLookProductForm" data-variants="{{ product.variants | json | escape }}">
                        <div class="article__look-product--heading">
                          <h3 class="article__look-subheading">{{ product.title }}</h3>
                        </div>
                        {%- include 'review-stars' with product, show_count: false, class: 'article__look-product--stars' -%}
                        <p class="article__look-product--variant js-articleLookProductVariant">
                          {{ current_variant.title }}
                        </p>
                        {%- for option in product.options_with_values -%}
                          {%- assign option_id = 'option' | append: option.position -%}
                          {%- assign selected_value = option.values | where: current_variant[option_id] | first -%}
                          {%- assign selected_id = step_id | append: '-' | append: product.id | append: '-' | append: selected_value -%}

                          <ul class="article__look-product--options js-articleLookProductOptions">
                            {%- if product.variants.size == 1 -%}
                              {%- include 'function_swatch-available' with value: selected_value -%}
                              {%- include 'product-swatch' with 
                                id: selected_id,
                                option_id,
                                class: 'js-articleLookProductSwatch',
                                value: selected_value,
                                is_findation: false,
                                is_hidden: false,
                                is_available: is_swatch_available
                              -%}
                            {%- endif -%} 

                            {%- unless product.variants.size <= 1 -%}
                              {% comment %} <button type="button" class="article__look-product--toggle js-articleLookProductOptionsToggle" aria-label="View More Swatches">+</button> {% endcomment %}
                              {%- for value in option.values -%}
                                {%- unless value == selected_value -%} 
                                  {%- assign id = step_id | append: '-' | append: product.id | append: '-' | append: value -%}
                                  {%- include 'function_swatch-available' -%}
                                  {%- include 'product-swatch' with 
                                    id,
                                    option_id,
                                    class: 'js-articleLookProductSwatch',
                                    is_findation: false, 
                                    is_hidden: false, 
                                    is_available: is_swatch_available 
                                  -%}
                                {%- endunless -%}
                              {%- endfor -%}
                            {%- endunless -%}
                          </ul>
                          <input type="hidden" class="js-articleLookProductFormId" value="{{ current_variant.id }}" data-product="{{ product.title }}">
                          <button type="submit" class="article__look-product--button">
                            Add to Bag – {%- render 'price' price: product.price -%}
                          </button>
                        {%- endfor -%}
                      </form>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="article__look-footer">
      <button class="article__look-add button button--outline js-articleLookAdd">
        Add all products to bag
      </button>
    </div>
  </div>
  {%- include 'article-more' with context: 'look', class: 'article__look-more', heading: section.settings.more_heading -%}
  {%- include 'article-footer' -%}
</div>

{%- schema -%}
  {
    "name": "Article Content",
    "settings": [
      {
        "type": "header",
        "content": "Introduction"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "About the Look"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "bullets_heading",
        "label": "Bullets Heading",
        "default": "What you'll need"
      },
      {
        "type": "text",
        "id": "bullets_subheading",
        "label": "Bullets Subheading"
      },
      {
        "type": "richtext",
        "id": "bullets",
        "label": "Bullets",
        "info": "Add each bullet on a new line (hard return)."
      },
      {
        "type": "header",
        "content": "More Looks"
      },
      {
        "type": "text",
        "id": "more_heading",
        "label": "Heading",
        "default": "See more looks:"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "media",
            "label": "Media",
            "info": "Upload an image or video to [files](https://jonesroad.myshopify.com/admin/settings/files) and paste the file name and extension here, eg: size-chart.pdf"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Product 1"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "variant_1",
            "label": "Variant SKU",
            "info": "Find the SKU of the variant you want to show by default, and paste it here."
          },
          {
            "type": "header",
            "content": "Product 2"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "variant_2",
            "label": "Variant SKU",
            "info": "Find the SKU of the variant you want to show by default, and paste it here."
          }
        ]
      }
    ]
  }
{%- endschema -%}