{%- assign config = section.settings -%}
{%- assign blocks = section.blocks | map: 'settings' -%}

<div
  id="{{ config.section_id | default: 'image-text-product' }}"
  class="imagetext__product"
  style="background: {{ config.background }};"
  data-component="imageTextProduct"
>
  <div class="imagetext__product-container">
    {%- if config.heading != blank -%}
      <h2 class="imagetext__product-heading">
        {{ config.heading }}
      </h2>
    {%- endif -%}
    <div class="imagetext__product-blocks">
      {%- for block in section.blocks -%}
        {%- assign product = all_products[block.settings.product] -%}
        {% if block.type == 'dual-product' %}
          {%- assign product_2 = all_products[block.settings.product_2] -%}
        {% endif %}
        <div
          id="{{ block.settings.block_id | default: block.settings.id }}"
          class="imagetext__product-block"
          style="--orientation: {{ block.settings.orientation }};"
        >
          {%- if block.settings.heading != blank -%}
            <h3
              class="imagetext__product-block--heading hide-desktop {% if block.settings.heading_highlight %} highlight {% endif %}"
              style="--highlight: {{ block.settings.highlight_color }}"
            >
              <span>{{ block.settings.heading }}</span>
            </h3>
          {%- endif -%}
          <div class="imagetext__product-block--image">
            <img
              src="{{ block.settings.image | img_url: '600x' }}"
              srcset="{{ block.settings.image | img_url: '1200x' }} 2x"
              alt="{{ block.settings.image.alt }}"
              width="590"
              height="450"
              loading="lazy"
            >
          </div>
          <div class="imagetext__product-block--text">
            {%- if block.settings.heading != blank -%}
              <h3
                class="imagetext__product-block--heading hide-mobile {% if block.settings.heading_highlight %} highlight {% endif %}"
                style="--highlight: {{ block.settings.highlight_color }}"
              >
                <span>{{ block.settings.heading }}</span>
              </h3>
            {%- endif -%}
            <div class="imagetext__product-block--description">
              {% if block.type == 'product' %}
                <h4>{{ product.title }}</h4>
                {%- if block.settings.show_reviews -%}
                  <div class="imagetext__product-block--stars">
                    {%- include 'review-stars' -%}
                  </div>
                {%- endif -%}
                <div class="richtext text-underline">
                  {%- if block.settings.show_description -%}
                    {{ product.description }}
                  {%- endif -%}
                  {{ block.settings.description }}
                </div>
              {%- else -%}
                {%- comment -%}Product 1{%- endcomment -%}
                <div class="imagetext__product-block--description-wrapper">
                  <h4>{{ product.title }}</h4>
                  {%- if block.settings.show_reviews -%}
                    <div class="imagetext__product-block--stars">
                      {%- include 'review-stars' -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="richtext">
                  {%- if block.settings.show_description -%}
                    {{ product.description }}
                  {%- endif -%}
                  {{ block.settings.description }}
                </div>
                {%- comment -%}Product 2{%- endcomment -%}
                <div class="imagetext__product-block--description-wrapper">
                  <h4>{{ product_2.title }}</h4>
                  {%- if block.settings.show_reviews -%}
                    <div class="imagetext__product-block--stars">
                      {% assign product = product_2 %}
                      {%- include 'review-stars' -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="richtext text-underline">
                  {%- if block.settings.show_description -%}
                    {{ product_2.description }}
                  {%- endif -%}
                  {{ block.settings.description_2 }}
                </div>
              {% endif %}
              {%- if block.settings.cta_heading != blank -%}
                <h3
                  class="imagetext__product-block--heading {% if block.settings.cta_heading_highlight %} highlight {% endif %}"
                  style="--highlight: {{ block.settings.cta_highlight_color }};"
                >
                  <span>{{ block.settings.cta_heading }}</span>
                </h3>
              {%- endif -%}
              <div class="imagetext__product-block--buttons">
                {%- if block.settings.cta_text != blank -%}
                  <a href="{{ block.settings.cta_link }}" class="button imagetext__product-block--button">
                    {{ block.settings.cta_text }}
                  </a>
                {%- endif -%}
                {%- if block.settings.cta_text_2 != blank -%}
                  <a href="{{ block.settings.cta_link_2 }}" class="button imagetext__product-block--button ">
                    {{ block.settings.cta_text_2 }}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Image, Text + Product",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Used to create a permalink to the section. Must be unique to the section, all lower-case, with hyphens instead of spaces.",
      "default": "image-text-product"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "text",
          "id": "block_id",
          "label": "Block ID",
          "info": "Used to create a permalink to the block. Must be unique to the block, all lower-case, with hyphens instead of spaces."
        },
        {
          "type": "select",
          "id": "orientation",
          "label": "Orientation",
          "options": [
            { "label": "Image on Left", "value": "row" },
            { "label": "Image on Right", "value": "row-reverse" }
          ]
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_highlight",
          "default": false,
          "label": "Heading Highlight"
        },
        {
          "type": "color",
          "id": "highlight_color",
          "label": "Highlight Color",
          "default": "#fff"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "show_reviews",
          "label": "Show review stars",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show product description",
          "default": true
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "cta_heading",
          "label": "CTA Heading"
        },
        {
          "type": "checkbox",
          "id": "cta_heading_highlight",
          "default": false,
          "label": "CTA Heading Highlight"
        },
        {
          "type": "color",
          "id": "cta_highlight_color",
          "label": "CTA Highlight Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        },
        {
          "type": "text",
          "id": "cta_text_2",
          "label": "CTA2 Text"
        },
        {
          "type": "url",
          "id": "cta_link_2",
          "label": "CTA2 Link"
        }
      ]
    },
    {
      "type": "dual-product",
      "name": "Dual Product",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "text",
          "id": "block_id",
          "label": "Block ID",
          "info": "Used to create a permalink to the block. Must be unique to the block, all lower-case, with hyphens instead of spaces."
        },
        {
          "type": "select",
          "id": "orientation",
          "label": "Orientation",
          "options": [
            { "label": "Image on Left", "value": "row" },
            { "label": "Image on Right", "value": "row-reverse" }
          ]
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "heading_highlight",
          "default": false,
          "label": "Heading Highlight"
        },
        {
          "type": "color",
          "id": "highlight_color",
          "label": "Highlight Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Products"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "richtext",
          "id": "description_2",
          "label": "Description 2"
        },
        {
          "type": "checkbox",
          "id": "show_reviews",
          "label": "Show review stars",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show product description",
          "default": true
        },
        {
          "type": "text",
          "id": "cta_heading",
          "label": "CTA Heading"
        },
        {
          "type": "checkbox",
          "id": "cta_heading_highlight",
          "default": false,
          "label": "CTA Heading Highlight"
        },
        {
          "type": "color",
          "id": "cta_highlight_color",
          "label": "CTA Highlight Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        },
        {
          "type": "text",
          "id": "cta_text_2",
          "label": "CTA2 Text"
        },
        {
          "type": "url",
          "id": "cta_link_2",
          "label": "CTA2 Link"
        }
      ]
    }
  ],
  "presets": [{ "name": "Image, Text + Product" }]
}
{%- endschema -%}
