{% assign instagram_section = product.metafields.custom.instagram_section.value %}
{% assign instagram_icon = product.metafields.custom.instagram_section.value.hide_instagram_icon %}

{% if instagram_section %}
  <div class="instagram__section-container">
    <div class="instagram__section-wrapper">
      {% if product.metafields.custom.instagram_section.value.title != blank %}
        <div class="insta_title">
          <span>{{ product.metafields.custom.instagram_section.value.title }}</span>
        </div>
      {% endif %}
      <div class="insta__images-wrapper">
        <div class="insta__images">
          {% for instagram_images in product.metafields.custom.instagram_section.value.images.value %}
            <div class="insta__image">
              <img src="{{ instagram_images.image.value |  image_url }}" alt="">
              <div class="insta__image-links">
                {% unless instagram_icon %}
                  {% if instagram_images.image_link.value != blank %}
                    <a href="{{ instagram_images.image_link.value }}" class="insta__link">
                      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.25 1H7.75C4.02208 1 1 4.02208 1 7.75V21.25C1 24.9779 4.02208 28 7.75 28H21.25C24.9779 28 28 24.9779 28 21.25V7.75C28 4.02208 24.9779 1 21.25 1Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.8996 13.6489C20.0662 14.7725 19.8743 15.9199 19.3511 16.9281C18.828 17.9363 18.0003 18.7538 16.9858 19.2645C15.9712 19.7751 14.8215 19.9529 13.7001 19.7724C12.5787 19.592 11.5427 19.0625 10.7396 18.2594C9.93644 17.4563 9.40699 16.4203 9.22655 15.2989C9.0461 14.1775 9.22384 13.0278 9.7345 12.0132C10.2451 10.9987 11.0627 10.171 12.0709 9.64786C13.0791 9.12473 14.2265 8.93282 15.3501 9.09943C16.4961 9.26937 17.5571 9.80341 18.3763 10.6226C19.1956 11.4419 19.7296 12.5029 19.8996 13.6489Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21.925 7.0752H21.938" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  {% endif %}
                {% endunless %}
                {% if instagram_images.image_product.value != blank %}
                  <a href="{{ instagram_images.image_product.value.url }}" class="product__link">
                    <span>Shop Now</span>
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="insta__cta-wrapper">
          <div class="insta__cta">
            <a href="{{ product.metafields.custom.instagram_section.value.button_link }}">
              {{ product.metafields.custom.instagram_section.value.button_label }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="instagram__section-container-mobile">
    <div class="insta_title">
      <span>{{ product.metafields.custom.instagram_section.value.title }}</span>
    </div>
    <div class="swiper-container js-productInstagram">
      <div class="swiper-wrapper instagram-section-swiper-wrapper">
        {% for instagram_images in product.metafields.custom.instagram_section.value.images.value %}
          {% assign mod_result = forloop.index0 | modulo: 4 %}
          {% if mod_result == 0 %}
            <div class="swiper-slide js-productInstagramSlide">
              <div class="instagram-images-container-mobile">
          {% endif %}
          {% comment %} <div class="insta__image-mobile">
            <img src="{{ instagram_images.image.value |  image_url }}" alt="">
          </div> {% endcomment %}
          <div class="insta__image">
            <img src="{{ instagram_images.image.value |  image_url }}" alt="">
            <div class="insta__image-links">
              {% unless instagram_icon %}
                {% if instagram_images.image_link.value != blank %}
                  <a href="{{ instagram_images.image_link.value }}" class="insta__link">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.25 1H7.75C4.02208 1 1 4.02208 1 7.75V21.25C1 24.9779 4.02208 28 7.75 28H21.25C24.9779 28 28 24.9779 28 21.25V7.75C28 4.02208 24.9779 1 21.25 1Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19.8996 13.6489C20.0662 14.7725 19.8743 15.9199 19.3511 16.9281C18.828 17.9363 18.0003 18.7538 16.9858 19.2645C15.9712 19.7751 14.8215 19.9529 13.7001 19.7724C12.5787 19.592 11.5427 19.0625 10.7396 18.2594C9.93644 17.4563 9.40699 16.4203 9.22655 15.2989C9.0461 14.1775 9.22384 13.0278 9.7345 12.0132C10.2451 10.9987 11.0627 10.171 12.0709 9.64786C13.0791 9.12473 14.2265 8.93282 15.3501 9.09943C16.4961 9.26937 17.5571 9.80341 18.3763 10.6226C19.1956 11.4419 19.7296 12.5029 19.8996 13.6489Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M21.925 7.0752H21.938" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                {% endif %}
              {% endunless %}
              {% if instagram_images.image_product.value != blank %}
                <a href="{{ instagram_images.image_product.value.url }}" class="product__link">
                  <span>Shop Now</span>
                </a>
              {% endif %}
            </div>
          </div>

          {% if mod_result == 3 or forloop.last %}
            </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="swiper-pagination instagram-section-pagination js-instagramPagination"></div>
      <div class="insta__cta-wrapper">
        <div class="insta__cta">
          <a href="{{ product.metafields.custom.instagram_section.value.button_link }}">
            {{ product.metafields.custom.instagram_section.value.button_label }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Instagram Section",
  "settings": [],
  "presets": [
    {
      "name": "Instagram Section"
    }
  ]
}
{% endschema %}
