{%- assign config = section.settings -%}

<div 
  class="text-banner--inner {{ config.font }}"
  style="
    background: {{ config.background }};
    color: {{ config.color }};
    
    --size-mobile: {{ config.font_size_mobile | append: 'px' }};
    --size-desktop: {{ config.font_size_desktop | append: 'px' }};
    --line-mobile: {{ config.line_height_mobile }};
    --line-desktop: {{ config.line_height_desktop }};
    --alignment-mobile: {{ config.alignment_mobile }};
    --alignment-desktop: {{ config.alignment_desktop }};
  "
>
  <div
    class="text-banner--text text-underline"
    style="
      --width-mobile: {{ config.width_desktop | append: '%' }};
      --width-desktop: {{ config.width_desktop | append: '%' }};
    "
  >
    {{ config.text }}
  </div>
</div>

{%- schema -%}
  {
    "name": "Text Banner",
    "tag": "section",
    "class": "text-banner",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "richtext", // EE
        "id": "text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Typography"
      },
      {
        "type": "select",
        "id": "font",
        "label": "Font",
        "options": [
          { "label": "Sans", "value": "sans" },
          { "label": "Mono", "value": "mono" }
        ],
        "default": "mono"
      },
      {
        "type": "range",
        "id": "font_size_desktop",
        "label": "Desktop Font Size",
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px",
        "default": 16
      },
      {
        "type": "range",
        "id": "line_height_desktop",
        "label": "Desktop Line Height",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "default": 1.2
      },
      {
        "type": "range",
        "id": "font_size_mobile",
        "label": "Mobile Font Size",
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px",
        "default": 11
      },
      {
        "type": "range",
        "id": "line_height_mobile",
        "label": "Mobile Line Height",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "default": 1.2
      },
      {
        "type": "text_alignment",
        "id": "alignment_desktop",
        "label": "Desktop Text Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "alignment_mobile",
        "label": "Mobile Text Alignment",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "width_desktop",
        "label": "Desktop Width",
        "min": 10,
        "max": 100,
        "step": 5,
        "default": 100,
        "unit": "%"
      },
      {
        "type": "range",
        "id": "width_mobile",
        "label": "Mobile Width",
        "min": 10,
        "max": 100,
        "step": 5,
        "default": 100,
        "unit": "%"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#FBF9F7"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "Text Banner",
        "settings": {
          "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>",
          "font_size_desktop": 16,
          "font_size_mobile": 11,
          "alignment_desktop": "center",
          "alignment_mobile": "center",
          "width_desktop": 100,
          "width_mobile": 100
        }
      }
    ]
  }
{%- endschema -%}